name: Build

on: workflow_dispatch

jobs:

  build_binary:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
       os: [ubuntu-20.04]

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Build wheels
        uses: pypa/cibuildwheel@v2.12.3
        env:
          CIBW_SKIP: pp*
          CIBW_ARCHS_LINUX: auto
          CIBW_BEFORE_BUILD: python -c "import shutil ; shutil.copyfile('setup-template.cfg','setup.cfg')"
          CIBW_TEST_COMMAND: python -c True

      - uses: actions/upload-artifact@v3
        with:
          name: wheelhouse
          path: ./wheelhouse/*.whl